body
{
   font-size: 18px;
   background-image: url("geometric.jpg")
}

h3
{
    font-size: 24px;
   color: #EC0A6E;
   font-family: 'Concert One', cursive;
}

h1
{
   font-size: 36px;
   color: #EC0A6E;
   width: 800px;
    padding: 12px;
   border: solid;
   border-color: #EC0A6E;
   margin: 10px;
   border-radius: 10px;
   background-color: F7C1BB;
   font-family: 'Concert One', cursive;
   
}

div
{
   width: 800px;
    padding: 12px;
   border: solid;
   border-color: #EC0A6E;
   margin: 10px;
   border-radius: 10px;
   color: black;
   background-color: F7C1BB;
}
li
{
padding: 2px;
}

