body
{
   font-size: 18px; 
   background-image: url("geometric.jpg")
}

h3
{
    font-size: 24px;
   color: #EC0A6E;
}

h1
{
   font-size: 36px;
   color: #EC0A6E;
}

div
{
   width: 800px;
    padding: 12px;
   border: solid;
   border-color: #EC0A6E;
   margin: 10px;
   border-radius: 10px;
}

#Learned
{
    color:#516F00;
   background-color: #f0f8ff;
}

#Questions
{ 
    color: #20211B;
   background-color: #CCCECD;
}

